@import "font.css";

.section-header {
    background: url("../images/unsplash_Nb_Q-M3Cdzg.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.section-header .header-text h1 {
    text-align: center;
    width: 400px;
    color: #fff;
    font-weight: 900;
    font-family: Nunito;
    padding-top: 80px;
}

.section-menu-items {
    padding-top: 60px;
}

.section-menu-items ul {
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 auto;
}

.section-menu-items ul li {
    font-weight: 600;
    font-size: 22px;
    height: 41px;
    cursor: pointer;
    color: #3D3D3D;
}

.section-menu-items ul .main {
    color: #E65E0B;
    border-bottom: 3px solid #E65E0B;
}

.section-menu-items .menu-items .item {
    margin: 25px 0;
    padding-top: 15px;
    height: 430px;
    width: 350px;
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-menu-items .img-item {
    width: 40%;
    height: 35%;
}

.section-menu-items .sandwich {
    width: 230px;
}

.fadeMenu {
    animation: 1s linear 1;
    animation-name: fade;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.section-menu-items .item h3 {
    font-size: 20px;
    line-height: 33px;
    color: #3D3D3D;
    text-align: center;
    margin-top: 5px;
}

.section-menu-items .item .item-desc {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #3D3D3D;
    width: 200px;
}

.section-menu-items .item .cost_count {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 220px;
}

.section-menu-items .item .cost_count .oldCost {
    text-decoration: line-through;
    opacity: 0.8;
}

.section-menu-items .item .cost_count .newCost {
    font-weight: 900;
    font-size: 20px;
    color: #E65E0B;
}

.section-menu-items .item .cost_count .wrap-cost p {
    margin: 0;
}

.section-menu-items .item .count {
    display: flex;
    background: #FFFFFF;
    border: 2px solid #3D3D3D;
    box-sizing: border-box;
    border-radius: 30px;
    width: 70px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.section-menu-items .item .cost_count .count p {
    margin: 0 5px 3px;
    font-weight: bold;
}

.minus {
    cursor: pointer;
}

.plus {
    cursor: pointer;
}

.section-menu-items .item .addBtn {
    background: #FFFFFF;
    border: 3px solid #3D3D3D;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #3D3D3D;
    transition: 0.3s;
}

.section-menu-items .item .addBtn:hover {
    background: #3D3D3D;
    color: #fff;
}

.section-menu-items .item .wrap-addBtn {
    margin: 10px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.section-menu-items .item .wrap-addBtn .favorites {
    width: 45px;
    height: 45px;
    background: #3D3D3D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.section-menu-items .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-menu-items .slider-items {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-items: center;
    margin: 0 auto;
}

.section-menu-items .slider-items .slide-btn {
    border: 2px solid #3D3D3D;
}

.section-menu-items .slider-items .slide-btn .arr {
    color: #3D3D3D;
}

.section-menu-items .slider-items .slide-btn-wrap .slide-btn {
    border-radius: 50%;
    height: 45px;
}

.section-menu-items .slider-items .slide-btn-wrap .slide-btn:hover .arr {
    color: #fff;
}

.section-menu-items .slider-items .slide-btn-wrap .slide-btn:hover {
    background: #3D3D3D;
}

.section-menu-items .slider-items .wrap-slide-slots {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.section-menu-items .slider-items .slide-slot {
    border: 3px solid rgba(61, 61, 61, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.section-menu-items .slider-items .main-slot {
    background: #E65E0B;
    border: #E65E0B;
}

.section-aboutUs {
    background: #E65E0B;
    margin: 0 auto;
}

.about {
    margin: 50px 0 60px;
}

.section-aboutUs p {
    color: #fff;
    width: 460px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.section-aboutUs .itemAbout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10px;
}

.section-aboutUs .cafe-img {
    width: 550px;
    height: 320px;
}

.section-aboutUs .container {
    max-width: 1400px;
}

.section-delivery {
    padding: 60px 0;
}

.section-delivery .delivery-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.section-delivery .item-delivery {
    background: #3D3D3D;
    width: 360px;
    height: 220px;
    border-radius: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-delivery .item-delivery h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin: 10px 0;
}

.section-delivery .item-delivery p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    width: 90%;
}
.section-contacts {
    padding-bottom: 50px;
}
.section-contacts .contacts-map-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.section-contacts svg {
    color:  #E65E0B;
    margin-right: 20px;
}
.section-contacts .h {
    padding-bottom: 40px;
}
.section-contacts .main_header {
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
}
.section-contacts .item-data {
    display: flex;
    padding: 10px 0;
}
.footer {
    background: #3D3D3D;
}
.footer .footer_data_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.footer ul img {
    width: 40px;
    height: 20px;
}
.footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
}
.footer ul a {
    font-size: 12px;
    max-height: 20px;
}
.footer .footer_data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .footer_data_wrap .item_footer {
    color: #fff;
    padding: 0 0 0 50px;
}
.footer .footer_data_wrap .header_item {
    font-size: 16px;
    line-height: 22px;
}
.footer .footer_data_wrap p {
    font-size: 12px;
    line-height: 16px;
}
.footer .footer_data_wrap svg {
    margin-right: 20px;
}
.basket .pp_text {
    font-family: Nunito;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pop_up .pop_up_item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #3D3D3D;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.basket .pop_up_item .wrap {
    display: flex;
}
.basket .img-item {
    width: 160px;
    height: 170px;
}
.pop_up .cost {
    font-weight: 900;
    font-size: 24px;
    color: #E65E0B;
}
.pop_up .item-header {
    font-size: 20px;
}
.pop_up .item-desc {
    width: 180px;
    font-size: 14px;
    text-align: center;
    color: #999;
}
.pop_up {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}
.pop_up_dialog {
    max-width: 1150px;
    margin: 0 auto;
    padding-top: 10px;
}
.pop_up .title_wrap {
    background: #3D3D3D;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pop_up .close_pop-up {
    margin-right: 20px;
}
.basket .pop_up_item svg {
    color: #3D3D3D;
}
.basket .pp_text {
    margin-left: 20px;
}
.pop_up .h {
    font-size: 32px;
    color: #fff;
    margin-left: 10px;
}
.basket svg {
    margin-right: 10px;
}
.basket .form_order {
    padding: 30px;
    background: #fff;
    border: 2px solid #3D3D3D;
    border-radius: 0 0 10px 10px;
}
.basket .order_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.basket .order_text p {
    max-width: 220px;
}
.basket .form_order .inputs_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
}
.basket .form_order .inputs_wrap input {
    outline: none;
    border-radius: 30px;
    border: 2px solid #3D3D3D;
    margin: 5px 0;
    padding: 5px;
}
.basket .form_order .inputs_wrap button {
    outline: none;
    border-radius: 30px;
    border: 2px solid #3D3D3D;
    padding: 5px;
    width: 100px;
    transition: 0.3s ease-in-out;
}
.basket .form_order .inputs_wrap button:hover {
    background: #3D3D3D;
    color: #fff;
}
.pop_up_content {
    position: relative;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 50vh;
    overflow-y: auto;
}
.basket .form_order .about_order {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    color: rgba(61, 61, 61, 0.5);
}
.favorites .saved {
    display: flex;
    max-height: 80vh;
    border-radius:  0 0 10px 10px;
    position: relative;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
.favorites .close_btn svg {
    margin-right: 15px;
}
.favorites .pop_up_item {
    border: none;
    width: 220px;
    padding-top: 15px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.favorites .pop_up_item .img-item {
    width: 150px;
    height: 130px;
    padding-left: 20px;
}
.favorites .pop_up_item .cost {
    text-align: center;
}
.favorites .pop_up_item .item-header {
    text-align: center;
    margin: 10px 0;
}

.favorites .pop_up_item .addBtn {
    background: #FFFFFF;
    border: 2px solid #3D3D3D;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #3D3D3D;
    transition: 0.3s;
}

.favorites .pop_up_item .addBtn:hover {
    background: #3D3D3D;
    color: #fff;
}
.favorites .pop_up_item .wrap-addBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.favorites .pop_up_item .wrap-addBtn .favorites {
    width: 30px;
    height: 30px;
    background: #3D3D3D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 1100px) {
    .section-header nav .lang_mobile {
        display: flex;
        max-width: 950px;
        margin: 0;
    }
    .section-header nav .lang_desktop {
        display: none;
    }
    .container {
        max-width: 900px;
    }
    .section-aboutUs p {
        font-size: 18px;
        width: 430px;
    }
    .section-aboutUs .cafe-img {
        width: 450px;
        height: 270px;
    }
    .section-delivery .delivery-box .item-delivery {
        width: 270px;
    }
    .section-delivery .delivery-box .item-delivery p {
        font-size: 14px;
    }
    .section-contacts .map {
        width: 450px;
    }
    .section-contacts .data-wrap {
        max-width: 400px;
    }
    .section-contacts svg {
        color:  #E65E0B;
        margin-right: 15px;
    }
    .section-contacts .item-data {
        padding: 0;
    }
    .section-contacts .h {
        padding-bottom: 30px;
    }
    .section-contacts .under_header {
        font-size: 20px;
    }
    .section-contacts .main_header {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 10px;
    }
    .footer .footer_data {
        width: 500px;
    }
}
@media (max-width: 950px) {
    .section-aboutUs p {
        font-size: 16px;
        width: 350px;
    }
    .section-aboutUs .cafe-img {
        width: 400px;
        height: 240px;
    }
}
@media (max-width: 850px) {
    .section-header .change_lang_box {
        margin-top: 5%;
    }
    .section-delivery .delivery-box .item-delivery {
        width: 250px;
        height: 170px;
    }
    .section-delivery .delivery-box .item-delivery p {
        font-size: 12px;
    }
    .section-delivery .delivery-box .item-delivery h3 {
        font-size: 20px;
    }
    .section-delivery .delivery-box .item-delivery svg {
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }
    .section-contacts .map {
        width: 350px;
        height: 300px;
    }
    .section-contacts .data-wrap {
        max-width: 350px;
    }
    .section-contacts svg {
        color:  #E65E0B;
        margin-right: 15px;
    }
    .section-contacts .item-data {
        padding: 0;
    }
    .section-contacts .h {
        padding-bottom: 20px;
    }
    .section-contacts .item-data p {
        font-size: 14px;
    }
    .section-contacts .under_header {
        font-size: 16px;
    }
    .section-contacts .main_header {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .section-aboutUs p {
        line-height: 25px;
    }
    .section-aboutUs .cafe-img {
        width: 350px;
        height: 210px;
    }
    .footer ul {
        width: 100px;
    }
    .footer ul li {
        margin: 10px 0;
    }
}
@media (max-width: 750px) {
    .container {
        max-width: 600px;
    }
    .section-menu-items .menu-items .item {
        width: 250px;
    }
    .section-menu-items ul {
        max-width: 100%;
    }
    .section-menu-items .img-item {
        width: 140px;
        height: 140px;
    }
    .section-aboutUs p {
        font-size: 14px;
        width: 250px;
    }
    .section-aboutUs .cafe-img {
        width: 300px;
        height: 200px;
    }
    .section-aboutUs .itemAbout {
        flex-wrap: nowrap;
    }
    .section-delivery .delivery-box .item-delivery {
        width: 170px;
        height: 200px;
        justify-content: start;
    }
    .section-delivery .delivery-box .item-delivery p {
        font-size: 10px;
    }
    .section-delivery .delivery-box .item-delivery h3 {
        font-size: 18px;
    }
    .section-delivery .delivery-box .item-delivery svg {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 600px) {
    .section-header .change_lang_box {
        margin-top: 8%;
    }
    .section-menu-items ul li {
        font-size: 16px;
        height: 30px;
    }
    .section-header nav ul {
        width: 300px;
    }
    .section-header nav ul a {
        font-size: 12px;
    }
    .section-contacts .map {
        width: 450px;
        height: 350px;
    }
    .section-contacts .data-wrap {
        max-width: 350px;
    }
    .section-contacts .contacts-map-box {
        width: 400px;
        margin: 0 auto;
    }
    .section-delivery .delivery-box {
        display: block;
        margin: 0 auto;
        width: 300px;
    }
    .section-delivery .delivery-box .item-delivery {
        width: 300px;
        height: 200px;
        margin: 25px 0;
    }
    .section-delivery .delivery-box .item-delivery p {
        font-size: 16px;
    }
    .section-delivery .delivery-box .item-delivery h3 {
        font-size: 20px;
    }
    .section-delivery .delivery-box .item-delivery svg {
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }
    .footer .footer_data_wrap .item_footer {
        padding: 10px;
    }
    .footer ul {
        padding-top: 15px;
    }
    .footer .footer_data {
        width: 400px;
    }
    .section-aboutUs p {
        font-size: 12px;
        width: 250px;
        line-height: 20px;
    }
    .section-aboutUs .cafe-img {
        width: 250px;
        height: 170px;
    }
    .favorites .pop_up_item {
        width: 250px;
    }
    .favorites .pop_up_item .wrap-addBtn {
        justify-content: space-evenly;
    }
}
@media (max-width: 520px) {
    .section-menu-items ul li {
        font-size: 13px;
        height: 20px;
    }
    .section-header nav .wrap-menu-icons .search-wrap input {
        width: 120px;
    }
    .section-header .close_btn {
        transform: translateX(620%);
    }
    .section-header .close_btn svg {
        width: 16px;
        height: 16px;
    }
    .favorites .pop_up_item .img-item {
        width: 120px;
        height:100px;
    }
    .section-menu-items .container {
        max-width: 400px;
    }
    .section-menu-items .menu-items {
        justify-content: center;
    }
    .section-aboutUs p {
        font-size: 10px;
        width: 150px;
        line-height: 15px;
    }
    .section-aboutUs .cafe-img {
        width: 220px;
        height: 160px;
    }
    .section-menu-items .menu-items .item {
        width: 300px;
    }
    .section-contacts .contacts-map-box {
        margin: 0;
    }
    .section-contacts .map {
        width: 300px;
        height: 240px;
    }
    .section-contacts .data-wrap {
        max-width: 300px;
    }
    .footer .footer_data {
        width: 250px;
    }
    .section-header .header-text h1 {
        width: 300px;
    }
    .basket .img-item {
        width: 120px;
        height: 130px;
    }
    .pop_up .item-header {
        font-size: 16px;
    }
    .pop_up .item-desc {
        font-size: 12px;
        width: 140px;
    }
    .pop_up .cost {
        font-size: 20px;
    }
    .pop_up_content {
        max-height: 30vh;
    }
    .basket .order_text {
        display: block;
    }
    .basket .order_text p {
        font-size: 14px;
        width: 180px;
    }

}
@media (max-width: 400px) {
    .section-menu-items ul li {
        height: 15px;
        font-size: 12px;
    }
    .section-header nav .container {
        max-height: 50px;
    }
    .section-header nav ul {
        max-width: 370px;
    }
    .section-header nav ul a {
        font-size: 10px;
    }
    .favorites .pop_up_item .img-item {
        width: 110px;
        height: 90px;
    }
    .pop_up .item-header {
        font-size: 14px;
    }
    .pop_up .item-desc {
        font-size: 10px;
        width: 130px;
    }
    .section-header nav .logo-img {
        width: 40px;
        height: 20px;
    }
    .section-menu-items .slider-items {
        width: 100%;
    }
    .section-aboutUs p {
        font-size: 10px;
        width: 120px;
        line-height: 15px;
        padding-top: 20px;
    }
    .section-aboutUs .cafe-img {
        width: 200px;
        height: 160px;
    }
    .section-aboutUs .itemAbout {
        padding: 0;
    }
}